{% extends '../../../views/base.swig.html' %}
{% block content %}
<div class="well well-lg">
    {% if not user %}
      <h2>Join</h2>
      <p>To join the South London Makerspace please click on the link below and provide the e-mail address you would like to associate with us.</p>
      <a href="#" class="btn btn-primary btn-lg persona-login" onclick="javascript:navigator.id.request()">Join »</a>
    {% else %}
      <h2>Getting Started</h2>
      <p>Thanks for becoming a member of South London Makerspace.</p>
      <p>The best way to get started in the space it to attend one of our weekly events and introduce yourself. You can find a <a href="https://calendar.google.com/calendar/embed?src=6hnjp743rq7omi2qfr3fa873ug@group.calendar.google.com&ctz=Europe/London" target="_blank">list of events here</a>.</p>
      <p>You can also join in the ongoing conversation on our forum <a href="http://discourse.southlondonmakerspace.org" taget="_blank">Discourse</a>, and chat room <a href="/account">Slack</a>.</p>
      <p>To get access to the space come to one of our events such as open eveing on Wednesdays at 19:30 where we can issue you with a red key fob.</p>
    {% endif %}
</div>
{% endblock %}

{% block navigation %}
    {% if not email %}
    <div class="well well-lg">
        <h2>Login</h2>
        <p>Sign in or sign up with <a href="https://login.persona.org/about">Mozilla's Persona</a>.</p>
        <a href="#" onclick="javascript:navigator.id.request()">
            <img src="/static/img/persona_sign_in_black.png" class="persona-login" alt="Persona Sign-in" title="Persona Sign-in" />
        </a>
    </div>
    {% else %}
        {% include "../../../views/nav.sub.swig.html" %}
    {% endif %}
{% endblock %}

{% block js %}
<script src="https://login.persona.org/include.js"></script>
<script>

navigator.id.watch({
  loggedInUser: {% if email %}'{{ email }}'{% else %}null{% endif %},
  onlogin: function(assertion) {
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/auth/verify", true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.addEventListener("loadend", function(e) {
      var data = JSON.parse(this.responseText);
      if (data && data.status === "okay") {
        console.log("You have been logged in as: " + data.email);
        window.location.reload(true);
      }
    }, false);

    xhr.send(JSON.stringify({
      assertion: assertion
    }));
  },
  onlogout: function() {
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/auth/logout", true);
    xhr.addEventListener("loadend", function(e) {
      console.log("User has logged out.");
      window.location.reload(true);
    });
    xhr.send();
  }
});


</script>
{% endblock %}
