{% extends '../../../views/base.swig.html' %}
{% block content %}
<div class="well well-lg">
    <h2>Hello!</h2>
    <p>To join the South London Makerspace please click on the link below and provide the e-mail address you would like to associate with us.</p>
    <a href="#" class="btn btn-primary btn-lg persona-login" onclick="javascript:navigator.id.request()">Join »</a>
</div>
{% endblock %}

{% block navigation %}
    {% if not email %}
    <div class="well well-lg">
        <h2>Login</h2>
        <p>Sign in or sign up with <a href="https://login.persona.org/about">Mozilla's Persona</a>.</p>
        <a href="#" onclick="javascript:navigator.id.request()">
            <img src="/static/img/persona_sign_in_black.png" class="persona-login" alt="Persona Sign-in" title="Persona Sign-in" />
        </a>
    </div>
    {% else %}
        {% include "../../../views/nav.sub.swig.html" %}
    {% endif %}
{% endblock %}

{% block js %}
<script src="https://login.persona.org/include.js"></script>
<script>

navigator.id.watch({
  loggedInUser: {% if email %}'{{ email }}'{% else %}null{% endif %},
  onlogin: function(assertion) {
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/auth/verify", true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.addEventListener("loadend", function(e) {
      var data = JSON.parse(this.responseText);
      if (data && data.status === "okay") {
        console.log("You have been logged in as: " + data.email);
        window.location.reload(true);
      }
    }, false);

    xhr.send(JSON.stringify({
      assertion: assertion
    }));
  },
  onlogout: function() {
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/auth/logout", true);
    xhr.addEventListener("loadend", function(e) {
      console.log("User has logged out.");
      window.location.reload(true);
    });
    xhr.send();
  }
});


</script>
{% endblock %}
