{% extends '../../../views/base.swig.html' %}
{% block content %}
<div class="well well-lg">
    <h2>Hello!</h2>
    <button type="button" class="btn btn-primary btn-lg">Join the South London Makerspace »</button>
</div>
{% endblock %}

{% block navigation %}
    {% if not email %}
    <div class="well well-lg">
        <h2>Login</h2>
        <p>Sign in or sign up with <a href="https://login.persona.org/about">Mozilla's Persona</a>.</p>
        <img src="/static/img/persona_sign_in_black.png" id="persona-login" alt="Persona Sign-in" title="Persona Sign-in" />
    </div>
    {% else %}
        <ul class="nav nav-pills nav-stacked">
        {% for item in nav %}
            <li><a href="{{ item.route }}">{{ item.name }}</a></li>
        {% endfor %}
        </ul>
    {% endif%}
{% endblock %}

{% block js %}
<script src="https://login.persona.org/include.js"></script>
<script>
document.querySelector("#persona-login").addEventListener("click", function() {
  navigator.id.request();
}, false);

navigator.id.watch({
  loggedInUser: {% if email %}'{{ email }}'{% else %}null{% endif %},
  onlogin: function(assertion) {
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/auth/verify", true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.addEventListener("loadend", function(e) {
      var data = JSON.parse(this.responseText);
      if (data && data.status === "okay") {
        console.log("You have been logged in as: " + data.email);
        window.location.reload(true);
      }
    }, false);

    xhr.send(JSON.stringify({
      assertion: assertion
    }));
  },
  onlogout: function() {
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/auth/logout", true);
    xhr.addEventListener("loadend", function(e) {
      console.log("User has logged out.");
    });
    xhr.send();
  }
});


</script>
{% endblock %}
